*{margin: 0; padding: 0;}

html {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  width: 1000px;
}

.sub-title1 {
  display: none;
}

ul {
  padding-left: 3rem;
}

ul li {
  list-style-type: circle;
  list-style-position: outside;
}

.container {
  max-width: 1000px;
  margin: auto;
}

#donation_main {
  max-width: 100%;
  padding-bottom: 3.5rem;
}


.contents {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #333333;
}

.intro {
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
}

.withdraw {
  padding-top: 5rem;
}

.sub-title2 {
   width: 25%;
}

.benefit {
  padding-top: 5rem;
}

.sub-title3{
  width: 50%;
}

.inquiry {
  padding-top: 5rem;
}

.sub-title4{
  width: 13%;
}

button {
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 30rem;
  background-color: #003ca6;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

.button {
  padding-top: 5rem;
  text-align: center;
  margin: auto;
}

footer {
  height: 2rem;

}


@media screen and (max-width: 992px) {
  .container {
    width: 90vw;
    margin: auto;
  }

  button {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%;
    background-color: #003ca6;
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
  }

  .button {
    padding-top: 5rem;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 1125px) {

  .sub-title0 {
    display: none;
  }

  .sub-title1 {
    display: block;
  }

  .contents {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #333333;
  }

  .intro {
    font-size: 2rem;
  }

  button {
    width: 90%;
    background-color: #003ca6;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
  }

  .button {
    padding-top: 5rem;
    text-align: center;
    margin: auto;
  }

  .sub-title2{
    width: 45%;
  }

  .sub-title3{
    width: 90%;
  }

  .sub-title4{
    width: 25%;
  }

  footer {
    height: 20px;
  }
}
